extends layout.pug 
block content
    header.card-header.align-items-center
        h2.card-tittle.mt-2 Case Registration 
    article.card-body
        form(method="POST" action="/login/statement")
            .form-row
                .form-group.col-sm-2
                    label(for="") Ref. No:
                .form-group.col-sm-10
                    input.form-control(type="text", name="RefNo", placeholder="Ref. No")
            .form-row
                .form-group.col-sm-4
                    label(for="") Officer Id:
                .form-group.col-md-8
                    input.form-control(type="password", name="OfficerId", placeholder="Officer Id")
            .form-row
                .form-group.col-sm-2
                    label(for="") Compaliant's Name:
                .form-group.col-sm-10
                    .row
                        .col-sm-12
                            input.form-control(type="text" name="firstname", placeholder="First Name")
                        .col-sm-12
                            input.form-control(type="text" name="lastname", placeholder="Last Name")
                            
            .form-row
                .form-group.col-sm-2
                    label(for="") Gender:
                .form-group.col-md-10
                    input.form-control(type="password", name="OfficerId", placeholder="Officer Id")
                    select(name="gender")
                        .form-control
                            option(value="Male/Adult") Male / Adult
                            option(value="Male/Juvenile") Male / Juvenile
                            option(value="Female/Adult") Female / Adult
                            option(value="Female/Juvenile") Female / Juvenile
                            </select>
            .form-row
                .form-group.col-sm-2
                    label(for="") Age:
                .form-group.col-sm-10
                    input.form-control(type="text", name="age", placeholder="Age")
            .form-row
                .form-group.col-sm-2
                    label(for="") Nationality:
                .form-group.col-sm-10
                    input.form-control(type="text", name="nationality", placeholder="Nationality")
            .form-row
                .form-group.col-sm-2
                    label(for="") Residence:
                .form-group.col-sm-10
                    .row
                        .col-sm-12
                            input.form-control(type="text" name="district", placeholder="District")
                        .col-sm-12
                            input.form-control(type="text" name="division", placeholder="Division")
                        .col-sm-12
                            input.form-control(type="text" name="parish", placeholder="Parish")
                        .col-sm-12
                            input.form-control(type="text" name="Village", placeholder="Village")
            .form-group
                .d-flex.justify-content-center 
                    button.btn.btn-success.btn-rounded.btn-block.text-uppercase(type="submit") Login
            .border-top.card-body.text-center  don't have an account? 
                a(href="/register") sign Up


                Form</h1>
            <div class="container" style="margin-left:15%; font-size:18px;">
                <form action="#">
                    7


                    <div class="row" style="margin-bottom:1%;">
                        <div for="" class="col-sm-2">Rental:</div>
                        <div class="col-sm-6">
                            <input type="checkbox" name="rental" id="">
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:1%;">
                        <div for="" class="col-sm-2">Tribe:</div>
                        <div class="col-sm-6">
                            <input type="text" name="tribe"
                                class="form-control" placeholder="Tribe">
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:1%;">
                        <div for="" class="col-sm-2">Place of birth:</div>
                        <div class="col-sm-6">
                            <input type="text" name="placeOfBirth"
                                class="form-control"
                                placeholder="Place of birth">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:1%;">
                        <div for="" class="col-sm-2">Telephone No:</div>
                        <div class="col-sm-6">
                            <input type="number" name="telephone"
                                class="form-control" 
                                placeholder="Telephone Number">
                        </div>
                    </div>
                    
                    </div>

                    <div class="row" style="margin-bottom:1%;">
                        <div class="col-sm-2">
                            Crime Type:
                        </div>
                        <div class="col-sm-6">
                            <select name="country" id="country"
                                class="form-control">
                            option value="">Select Crime Type</option>
                            option value="murder">Murder</option>
                            option value="rape">Rape</option>
                            option value="cyber">Cyber</option>
                            option value="fraud">Fraud</option>
                            option value="other">Others</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:1%;">
                        <div for="" class="col-sm-2">Crime Location:</div>
                        <div class="col-sm-6">
                            <input type="number" name="crimeLocation"
                                class="form-control" 
                                placeholder="Crime Location">
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:1%;">
                        <div class="col-sm-2">Suspect's Name:</div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12"
                                    style="margin-bottom:1%;">
                                    <input type="text" name="firstname"
                                        placeholder="First Name"
                                        class="form-control">
                                </div>
                                <div class="col-sm-12"
                                    style="margin-bottom:1%;">
                                    <input type="text" name="lastname"
                                        placeholder="Last Name"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:1%;">
                        <div for="" class="col-sm-2">Crime Date and Time:</div>
                        <div class="col-sm-6">
                            <input type="datetime-local" name="dateTime" id=""
                                class="form-control">
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:1%;">
                        <div for="" class="col-sm-2">Sanity:</div>
                        <div class="col-sm-6">
                            <input type="checkbox" name="sanity" id="">
                        </div>
                        